/* Wishlist button */
.wr-wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 30;
    cursor: pointer;
    padding: 4px;
}

.wr-wishlist-btn .wr-icon-active {
    display: none;
}

.wr-wishlist-btn.active .wr-icon-active {
    display: inline-block;
}

.wr-wishlist-btn.active .wr-icon-idle {
    display: none;
}
